
/*
@import 'common';

.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.loader {
  font-size: 3px;
  text-indent: -9999em;
  border-top: 1.1em solid $white-color;
  border-right: 1.1em solid $white-color;
  border-bottom: 1.1em solid $white-color;
  border-left: 1.1em solid $active-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  margin: 0 auto;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
}
*/