
<!--
<div class="row">
  <div class="col-md-5 text-left">
    <div class="custom-select foot-component page-size">
      <select name="pageselection" class="custom-form-control" [(ngModel)]="itemsPerPage" (change)="onLimitChange()">
                        <option *ngFor="let listNum of noPages" [(ngValue)]="listNum.value">
                        {{listNum.label}}
                        </option>

                      </select>
    </div>
    <div class="showing-page-size foot-component" *ngIf="totalItems>0">Showing <label for="">{{from}}</label> - <label for="">{{to}}</label> of <label for="">{{totalItems}}</label></div>
  </div>
  <div class="col-md-7 text-right">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" class="pagination-sm foot-component"
      [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" previousText="<span class='icon icon-left-arrow'></span>"
      nextText="<span class='icon icon-right-arrow'></span>" firstText="<span class='icon icon-first'></span>" lastText="<span class='icon icon-last2'></span>"></pagination>
  </div>
</div>
-->