

<!-- DOI Content START -->
<div id="page-content-wrapper">   

    <!-- Blocks - First Row START -->
    <div class="row mTop10">

        <!-- Block - 1 START -->
        <div class="col-lg-2 col-sm-6 col-md-3 col-md-offset-0 col-lg-offset-2 mTop50">
            <div class="panel dash-tiles liability">
                
                <a href="#">
                    <div class="panel-body">
                        <div class="row main-head">
                            <div class="col-md-3 col-xs-4">
                                <span class="dash-ico hidden"></span>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center">
                                <h3>Liabilities</h3>
                                <h1>$ {{ dashboardObj.liabilities.amount }}</h1>
                            </div>
                        </div>
                        <div class="row sub-head">
                            <div class="col-md-12 text-center">
                                <h3 class="d-inline-block"># Bonds: </h3>
                                <h1 class="d-inline-block">{{ dashboardObj.liabilities.bonds }}</h1>
                            </div>
                        </div>
                    </div>
                </a>

                <ul class="drop-list liability hidden">
                    <li><a href="#">Sureties</a></li>
                    <li><a href="#">Agencies</a></li>
                    <li><a href="#">Agents</a></li>
                </ul>

            </div>
        </div>
        <!-- Block - 1 END -->

        
        <!-- Block - 2 START -->
        <div class="col-lg-2 col-sm-6 col-md-3 col-md-offset-0 col-lg-offset-0 mTop50">
            <div class="panel dash-tiles forfeiture">
                
                <a href="#">
                    <div class="panel-body">
                        <div class="row main-head">
                            <div class="col-md-3 col-xs-4">
                                <span class="dash-ico hidden"></span>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center">
                                <h3>Forfeitures</h3>
                                <h1>$ {{ dashboardObj.forfeitures.amount }}</h1>
                            </div>
                        </div>
                        <div class="row sub-head">                               
                            <div class="col-md-12 sub-head text-center">
                                <h3 class="d-inline-block"># Bonds: </h3>
                                <h1 class="d-inline-block">{{ dashboardObj.forfeitures.bonds }}</h1>
                            </div>                                
                        </div>
                    </div>
                </a>   

                <ul class="drop-list forfeiture hidden">
                    <li><a href="#">Sureties</a></li>
                    <li><a href="#">Agencies</a></li>
                    <li><a href="#">Agents</a></li>
                </ul>
                        

            </div>
        </div>
        <!-- Block - 2 END -->


        <!-- Block - 3 START -->
        <div class="col-lg-2 col-sm-6 col-md-3 col-lg-offset-0 col-md-offset-0 mTop50">
            <div class="panel dash-tiles summary">
                
                <a href="#">
                    <div class="panel-body">
                        <div class="row main-head">
                            <div class="col-md-3 col-xs-4">
                                <span class="dash-ico hidden"></span>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center">
                                <h3>Unpaid Judgements</h3>
                                <h1>${{ dashboardObj.unpaid_judgements.amount }}</h1>
                            </div>
                        </div>
                        <div class="row sub-head text-center">
                            <div class="col-md-12">
                                <h3 class="d-inline-block"># Bonds:</h3>
                                <h1 class="d-inline-block">{{ dashboardObj.unpaid_judgements.bonds }}</h1>
                            </div>
                        </div>
                    </div>
                </a>

                <ul class="drop-list summary hidden">
                    <li><a href="#">Sureties</a></li>
                    <li><a href="#">Agencies</a></li>
                    <li><a href="#">Agents</a></li>
                </ul>
                
            </div>
        </div>
        <!-- Block - 3 END -->


        <!-- Block - 4 START -->
        <div class="col-lg-2 col-sm-6 col-md-3 col-lg-offset-0 col-md-offset-0 mTop50">
            <div class="panel dash-tiles doi-suspended">

                <a href="#">
                    <div class="panel-body">
                        <div class="row main-head">
                            <div class="col-md-3 col-xs-4">
                                <span class="dash-ico hidden"></span>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center">
                                <h3>DOI Suspended</h3>
                            </div>
                        </div>
                    </div>
                </a>

                <ul class="drop-list doi-suspended hidden">
                    <li><a href="#">Sureties</a></li>
                    <li><a href="#">Agencies</a></li>
                    <li><a href="#">Agents</a></li>
                    <li><a href="#">All</a></li>
                </ul>

            </div>
        </div> 
        <!-- Block - 4 END -->  


    </div>
    <!-- Blocks - First Row END -->


    <!-- Table - Top5 Agencies START -->
    <div class="row" id="top5-agency">
        <div class="col-md-12">
            <div class="table-wrapper mTop20">

                <h2><strong>Top 5 Agencies with highest Forfeiture Amounts - Last 4 Weeks</strong></h2>
                
                <div class="table-wrapper">

                    <table id="bonds" class="dt-responsive">

                        <thead>
                            <tr>
                                <th width="30%">Name</th>
                                <th width="20%">License No.</th>

                                <th width="10%">Inventory Remaining</th>

                                <th width="15%">No of Forfeited Bonds</th>
                                <th width="10%" class="sort">Forfeited $</th>
                                <th width="10%">Forfeited %</th>                                        
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let item of dashboardObj.top_agencies">
                                
                                <td class="clickable-row" (click)="onAgencyClick(item)">{{ item.name }}</td>
                                <td>{{ item.licence_no }}</td>

                                <td>$ {{ item.inventory_remaining }}</td>

                                <td>{{ item.no_of_forfeited_bond }}</td>
                                <td class="sort">$ {{ item.forfeited_in }}</td>                                
                                <td>{{ item.forfeited_percent }} %</td>

                            </tr>                   
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Table - Top5 Agencies END -->



    <!-- Table - Top5 Agents START -->
    <div class="row">
        <div class="col-md-12 mTop30">
            <div class="table-wrapper mTop20">

                <h2><strong>Top 5 Agents with highest Forfeiture Amounts - Last 4 Weeks</strong></h2>
                
                <div class="table-responsive">
                    <table>

                        <thead>
                            <tr>
                                <th width="15%">Agency Name</th>
                                <th width="15%">Agency License No.</th>
                                <th width="20%">Agent Name</th>
                                <th width="10%">Agent License No.</th>
                                <th width="15%">No of Forfeited Bonds</th>
                                <th width="10%" class="sort">Forfeited $</th>
                                <th width="10%">Forfeited %</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of dashboardObj.top_agents">
                                
                                <td>{{ item.agency_name }}</td>
                                <td>{{ item.agency_licence_no }}</td>

                                <td class="clickable-row" (click)="onAgentClick(item)">{{ item.agent_name }}</td>
                                <td>{{ item.agent_licence_no }}</td>

                                <td>{{ item.no_of_forfeited_bond }}</td>  
                                <td class="sort">$ {{ item.forfeited_in }}</td>                                
                                <td>{{ item.forfeited_percent }} %</td>
                            </tr>                   
                        </tbody>
                      
                    </table>
                </div>

            </div>
        </div>
    </div>        
    <!-- Table - Top5 Agents END -->



    <!-- Agency Details START -->
    <div class="page-details mTop50" id="agencyDetails" *ngIf="isAgencyDetails" #agencyDetailsTarget>

        <!-- Top element START -->
        <div class="row">
            <div class="col-md-12">
                <div class="inner-page-head-wrapper">
                    <div class="row">

                        <div class="col-md-6 col-sm-8">
                            <h2 class="page-inner-head">{{ agencyModel.SelAgencyName }} - 
                                <span class="license-no">#{{ agencyModel.SelAgencyLicenseNum }}</span>
                            </h2>
                        </div>
                       
                        <!-- Top Active or Suspended status element START -->
                        <div class="col-md-6 col-sm-4 text-right">

                            <div class="surety-status active txt-bold"  *ngIf="agencyModel.SuretyStatus">
                                <i class="active-text fa fa-check-circle-o" aria-hidden="true"></i> 
                                <span class="active-text">Active</span>
                                <div class="reason" data-toggle="tooltip" data-placement="bottom" title="Suerty is Active"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            </div>

                            <div class="surety-status in-active txt-bold" *ngIf="!agencyModel.SuretyStatus">
                                <i class="fa fa-circle-o" aria-hidden="true"></i>
                                <span class="in-active-text">Suspended</span>
                                <div class="reason" data-toggle="tooltip" data-placement="bottom" title="Suerty was Suspended"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            </div>

                        </div>
                        <!-- Top Active or Suspended status element END -->


                    </div>
                </div>
            </div>
        </div>
        <!-- Top element END -->


        <!-- Content START -->
        <div class="row mTop20">
            <div class="col-md-12">
                <div class="tab-wrapper">


                    <ul class="nav nav-tabs responsive" id="firstLevelTab">
                        <li class="active"><a class="deco-none red-class" href="#">Agency Details</a></li>
                    </ul>

                    <div class="tab-content responsive">
                        <div class="tab-pane active" id="resp-tab1">
                            <div class="row mTop15">
                                <div class="col-md-7">    


                                    <!-- Save & Cancel START -->
                                    <div class="row">

                                        <div class="col-md-12 text-right">
                                           
                                            <button class="btn active-btn mRight10 cancel-detail"  (click)="onAgencyCancelClick()">Cancel</button>
                                            
                                            <button class="btn active-btn" (click)="onAgencySaveClick()">Save</button>
                                        
                                        </div>

                                    </div>
                                    <!-- Save & Cancel END -->

                                   
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Agency License Number</label>
                                                <input type="text" [(ngModel)]="agencyModel.AgencyLicenseNum" class="form-control" placeholder="Agency License Number">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="checkbox-wrap bond-agent-check">
                                                <label><input type="checkbox" [(ngModel)]="agencyModel.IsBondAgency" />
                                                    <i class="input-helper"></i><span>Bond Agency</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>  

                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Agency Name</label>
                                                <input type="text" [(ngModel)]="agencyModel.AgencyName" class="form-control" placeholder="Agency Name..."/>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Address 1</label>
                                                <input type="text" [(ngModel)]="agencyModel.Address" class="form-control" placeholder="Address 1...">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" [(ngModel)]="agencyModel.State" class="form-control" placeholder="State...">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>County</label>
                                                <input type="text" [(ngModel)]="agencyModel.County" class="form-control" placeholder="County...">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" [(ngModel)]="agencyModel.City" class="form-control" placeholder="City...">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                <input type="text" [(ngModel)]="agencyModel.ZipCode" class="form-control" placeholder="Zip Code...">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Agency Phone No.</label>
                                                <input type="text" [(ngModel)]="agencyModel.AgencyPhoneNo" class="form-control" placeholder="Agency Phone No...">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Agency Email</label>
                                                <input type="text" [(ngModel)]="agencyModel.AgencyEmail" class="form-control" placeholder="Agency Email...">
                                            </div>
                                        </div>

                                    </div>


                                    <!-- Activated or Suspended status bottom START -->
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">

                                                <label class="block">DOI Status:</label>

                                                <div class="surety-status active" *ngIf="agencyModel.DOIStatus">
                                                    <span class="txt-bold active-text">Activated</span> on 03/15/2017
                                                </div>

                                                <div class="surety-status in-active" *ngIf="!agencyModel.DOIStatus">
                                                    <span class="txt-bold in-active-text">Suspended</span> on 03/15/2017
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">   

                                                <div class="surety-status active" *ngIf="agencyModel.AgencyStatus">
                                                    <span class="txt-bold active-text">Activated</span> on 03/17/2017
                                                </div>

                                                <div class="surety-status in-active" *ngIf="!agencyModel.AgencyStatus">
                                                    <span class="txt-bold in-active-text">Suspended</span> on 03/17/2017
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Activated or Suspended status bottom END -->


                                    <!-- History START -->
                                    <div class="suspension-history-table">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="table-heading">Agency Suspension History</h3>
                                            </div>
                                        </div>

                                        <div class="row mTop10">
                                            <div class="col-md-12">
                                                <div class="table-wrapper">
                                                    <div class="table-responsive">
                                                        <table id="suspensionHistory">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>States Suspeded</th>
                                                                    <th>Counties Suspended</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of historyObj">                                                                    
                                                                    <td>{{ item.Date }}</td>
                                                                    <td>{{ item.StatesSuspended }}</td>
                                                                    <td>{{ item.CountiesSuspended }}</td>                                                                 
                                                                </tr>                   
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- History END -->

                                </div>
                            </div>
                        </div>                        
                    </div>


                </div>
            </div>
        </div>
        <!-- Content END -->


    </div>
    <!-- Agency Details END -->



    <!-- Agent Details START -->
    <div class="page-details mTop50" id="agentDetails" *ngIf="isAgentDetails" #agentDetailsTarget>


        <!-- Top element START -->
        <div class="row">
            <div class="col-md-12">
                <div class="inner-page-head-wrapper">
                    <div class="row">

                        <div class="col-md-6 col-sm-8">
                            <h2 class="page-inner-head">{{ agentModel.SelAgentName }} - 
                                <span class="License-no">#{{ agentModel.SelAgentLicenseNum }}</span>
                            </h2>
                        </div>

                        <!-- Top Active or Suspended status element START -->
                        <div class="col-md-6 col-sm-4 text-right">
                            
                            <div class="surety-status active txt-bold" *ngIf="agentModel.SuretyStatus">
                                <i class="active-text fa fa-check-circle-o" aria-hidden="true"></i> 
                                <span class="active-text">Active</span>
                                <div class="reason" data-toggle="tooltip" data-placement="bottom" title="Suerty is Active"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            </div>

                            <div class="surety-status in-active txt-bold" *ngIf="!agentModel.SuretyStatus">
                                <i class="fa fa-circle-o" aria-hidden="true"></i>
                                <span class="in-active-text">Suspended</span>
                                <div class="reason" data-toggle="tooltip" data-placement="bottom" title="Suerty was Suspended"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                            </div>

                        </div>
                        <!-- Top Active or Suspended status element END -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Top element END -->


        <!-- Content START -->
        <div class="row mTop20">
            <div class="col-md-12">
                <div class="tab-wrapper">

                    <ul class="nav nav-tabs responsive" id="myTab">
                        <li class="test-class active"><a class="deco-none red-class" href="#">Agent Details</a></li>
                    </ul>


                    <div class="tab-content responsive">
                        <div class="tab-pane active" id="resp-tab1">
                            <div class="row mTop15">
                                <div class="col-md-7">
                                    

                                    <!-- Save & Cancel START -->
                                    <div class="row">
                                        
                                        <div class="col-md-12 text-right">
                                            
                                            <button class="btn active-btn btn-medium mRight10 cancel-detail" (click)="onAgentCancelClick()">Cancel</button>
                                           
                                            <button class="btn btn-medium active-btn" (click)="onAgentSaveClick()">Save</button>
                                        </div>

                                    </div>
                                    <!-- Save & Cancel END -->


                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="Licenseno">Agent License Number</label>
                                                <input type="text" [(ngModel)]="agentModel.AgentLicenseNum" class="form-control" placeholder="Agent License Number">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="checkbox-wrap bond-agent-check">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="agentModel.IsBondAgent" />
                                                    <i class="input-helper"></i><span>Bond Agent</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="Licenseno">Agent First Name</label>
                                                <input type="text" [(ngModel)]="agentModel.AgentFirstName" class="form-control" placeholder="Agent First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="Licenseno">Agent Last Name</label>
                                                <input type="text" [(ngModel)]="agentModel.AgentLastName" class="form-control" placeholder="Agent Last Name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="Licenseno">Agent Phone No.</label>
                                                <input type="text" [(ngModel)]="agentModel.AgentPhoneNo" class="form-control" placeholder="Agent Phone No">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="Licenseno">Agent Email</label>
                                                <input type="text" [(ngModel)]="agentModel.AgentEmail" class="form-control" placeholder="Agent Email">
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Activated or Suspended status bottom START -->
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                
                                                <label class="block">DOI Status:</label>
                                                
                                                <div class="surety-status active" *ngIf="agentModel.DOIStatus">
                                                    <span class="txt-bold active-text">Activated</span> on 03/15/2017
                                                </div>

                                                <div class="surety-status in-active" *ngIf="!agentModel.DOIStatus">
                                                    <span class="txt-bold in-active-text">Suspended</span> on 03/15/2017
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">                                                      
                                                
                                                <div class="surety-status active" *ngIf="agentModel.AgentStatus">
                                                    <span class="txt-bold active-text">Activated</span> on 03/17/2017
                                                </div>

                                                <div class="surety-status in-active" *ngIf="!agentModel.AgentStatus">
                                                    <span class="txt-bold in-active-text">Suspended</span> on 03/17/2017
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Activated or Suspended status bottom END -->



                                    <!-- History START -->
                                    <div class="suspension-history-table">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="table-heading">Agent Suspension History</h3>
                                            </div>
                                        </div>

                                        <div class="row mTop10">
                                            <div class="col-md-12">
                                                <div class="table-wrapper">
                                                    <div class="table-responsive">

                                                        <table id="suspensionHistory">

                                                            <thead>
                                                                <tr>
                                                                    <th>State</th>
                                                                    <th>Date</th>
                                                                    <th>Action</th>
                                                                    <th>County</th>
                                                                    <th>Reason</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of historyObj">                                                                    
                                                                    <td>{{ item.State }}</td>
                                                                    <td>{{ item.Date }}</td>
                                                                    <td>{{ item.Action }}</td>
                                                                    <td>{{ item.County }}</td> 
                                                                    <td>{{ item.Reason }}</td>                                                                
                                                                </tr>                   
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- History END -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Content END -->


    </div>
    <!-- Agent Details END -->



</div>
<!-- DOI Content END -->



