               
<!-- Header START -->
<nav class="navbar-default navbar-fixed-top header" role="navigation">        
    

    <!-- Header: Mobile Only View START -->
    <div class="navbar-header">
        <div class="left-nav-toggle visible-xs">
            <a href="#" class="toggle-btn" id="menu-toggle"><img src="assets/images/validify_bug_primary.png"></a>
        </div>
        <a class="navbar-brand" href="#">✔alidify, Inc.</a>
    </div>
    <!-- Header: Mobile Only View END -->


    <!-- Header Elements START -->
    <div id="navbar" class="navbar-collapse nav-top-links">

        
        <!-- Header: Role Details START -->
        <div id="header-wrap" class="left-nav-toggle hidden-xs">
            <nav class="navbar-left hidden-xs">                   
                <h1 class="header-head">CBB SURETY COMPANY</h1>
                <h5 class="user-name">John Smith</h5>
            </nav>
        </div>
        <!-- Header: Role Details END -->


        <!-- Header: Toggle menu START -->
        <div class="pull-left mTop15 mLeft10">
            <a href="#" class="toggle-btn" id="menu-toggle1">
                <img src="assets/images/validify_bug_primary.png">               
            </a>
        </div>
        <!-- Header: Toggle menu END -->


        <!-- Header: Menu Label START -->
        <div class="breadcrumb-wrap">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">HOME</li>
            </ol>
        </div>
        <!-- Header: Menu Label END -->


        <!-- Header: Search, Notification & Settings START -->
        <ul class="nav navbar-top-links navbar-right">


            <!-- Search START -->
            <li class="nav-search">
                <input type="search" class="form-control" value="Search"><i class="fa fa-search" id="search-btn"></i>
            </li>
            <!-- Search END -->


            <!-- Notification START -->
            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="alerts">2</span><i class="fa fa-bell"></i>
                </a>
               
                <ul class="dropdown-menu dropdown-messages">
                   
                    <li>
                        <a href="#">
                            <div><strong>John Smith</strong><span class="pull-right text-muted"><em>Yesterday</em></span></div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong><span class="pull-right text-muted"><em>Yesterday</em></span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>

                </ul>  

            </li>               
            <!-- Notification END -->


            <!-- Settings START -->
            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>               

                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
                    <li><a href="#"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Settings or Help</a></li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Alert Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#" (click)="logoutBtnAction()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>                  
            </li> 
            <!-- Settings END -->

        </ul>  
         <!-- Header: Search, Notification & Settings END -->


    </div>
    <!-- Header Elements END -->

</nav>
<!-- Header END -->