
<router-outlet></router-outlet> 

<!-- 
<p-confirmDialog  [closeOnEscape]="false" [closable]="true" width="425" #cdRef>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cdRef.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cdRef.accept()"></button>
        <button type="button" pButton icon="fa-close" label="Close" (click)="cdRef.hide()"></button> 
    </p-footer>
</p-confirmDialog>
<button type="button" (click)="confirm1(obj)" pButton icon="fa-check" label="Confirm"></button> 
-->



