

/*----------------------------------------------------*/
/*
.login-container {
    height: 100%;  padding: 0;   margin: 0;
    display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;   display: -webkit-flex;  display: flex;
    align-items: center;   justify-content: center;   
    background-color: #55426D;    overflow-y: auto;
}
.login-box {
    width: 760px;   background-color: #fff;
    border-radius: 5px;   padding: 40px 20px;
}
.login-box .login-head {
    font-size: 45px;   text-align: center;
    color: #55426D;  margin: 0 0 50px 0;
}
.login-footer-box {
    display: block;  overflow: hidden;    text-align: center;
    padding-top: 20px;  color: #55426d;
}
.login-wrap .logo{
    width: 106px;
}
.forgot-pwd-link {
    display: block;   text-align: center;    color: #55426D;   
    font-size: 13px;  text-decoration: underline;
}
.public-search:focus .fa-search{
	color: #55426D;
}
.public-search.fa-search:hover{ 
    color: #55426D;  opacity: 1; cursor: pointer;
}
.forgot-pwd-modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 15px;
}
.forgot-pwd-modal .modal-dialog .modal-content .modal-body h3 {
    margin: 0 0 15px 0;    font-size: 15px;    
    text-transform: uppercase;   font-weight: bold;
}
*/
/*----------------------------------------------------*/


