<div class="login-box">
    <h1>LOGIN PAGE CONTENT</h1>
</div>

<!--
<div class="login-container">

    <div class="login-box">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="#" class="pull-right">Help</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="login-wrap mBot20 text-center">
                    <ul>
                        <li>
                            <img src="assets/images/logo-validify.png" class="logo mBot10">                               
                        </li>
                    </ul>
                </div>
            </div>
        </div> 

        <div class="row">                  
            <div class="col-md-6 col-sm-12 col-xs-12 border-R">
                <div class="login-inner-content mTop20">
                    <h4>User Login</h4>
                    <form>
                        
                       
                        <div class="form-group">
                            <label for="email">Username or Email</label>
                            <input type="email" class="form-control" id="email" placeholder="eg:abc@abc.com, ram123"> 
                        </div>
                        

                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter Password">
                        </div>
                        <div class="login-footer-box">
                            <div class="checkbox pull-left">
                                <label><input type="checkbox">Remember me</label>
                            </div>                           
                            <a href="dashboard_surety.html" class="btn active-btn pull-right mRight10" id="login-btn">Login</a>
                        </div>
                        <a href="#" class="forgot-pwd-link mTop20" data-toggle="modal" data-target="#fogotModal">Forgot Password</a>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 mTop20">
                <h4>Public Bond Search</h4>
                <div class="nav-search form-group">
                    <input type="search" class="form-control public-search" value="Search"><i class="public-search fa fa-search"></i>
                    <div class="public-search-result mTop10"></div>
                </div>
            </div> 
        </div>
        
        <div class="login-footer-box hidden">Validify all rights reserved</div>

    </div>
    
</div>
-->



<!--
<div id="wrapper" class="login-wrapper">
  <div class="login-block">
   
    <div class="login-content">
      <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter Username" required [(ngModel)]="loginModel.username"  required>
        </div>

        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter Password" required [(ngModel)]="loginModel.password" required>
        </div>

        <div class="custom-input-wrap check-box">
          <label>
                <input type="checkbox" />
                <i class="input-helper"></i>
                <span class="check-label">Remember Me</span>
          </label>
        </div>

        <div class="login-footer text-center mTop20">
          <button type="submit" class="btn btn-active login-btn" [disabled]="!loginForm.form.valid">Login</button>       
        </div>

      </form>
    </div>

  </div>
  <div class="login-overlay"></div>
</div>

<p-growl [(value)]="displayMsgs" ></p-growl>
-->