
<div class="login-container">  

    <div class="login-box">
       
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="#" class="pull-right">Help</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="login-wrap mBot20 text-center">
                    <ul>
                        <li>
                            <img src="assets/images/logo-validify.png" class="logo mBot10">                               
                        </li>
                    </ul>
                </div>
            </div>
        </div> 

        <div class="row">                  
            <div class="col-md-6 col-sm-12 col-xs-12 border-R">
                <div class="login-inner-content mTop20">
                    <h4>User Login</h4>
                    <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">    
                       
                        <div class="form-group">
                            <label for="email">Username or Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="eg:abc@abc.com, ram123"   required [(ngModel)]="loginModel.username" required> 
                        </div>   

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"  required [(ngModel)]="loginModel.password" required>
                        </div>                  

                        <div class="login-footer-box">
                            <div class="checkbox pull-left">
                                <label><input type="checkbox" id="remember" name="remember" [(ngModel)]="loginModel.remember">Remember me</label>
                            </div>                           
                            <button type="submit" class="btn active-btn pull-right mRight10" [disabled]="!loginForm.form.valid">Login</button>
                        </div>
                      
                        <a href="#" class="forgot-pwd-link mTop20" data-toggle="modal" data-target="#fogotModal">Forgot Password</a>

                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 mTop20">
                <h4>Public Bond Search</h4>
                <div class="nav-search form-group">
                    <input type="search" class="form-control public-search" value="Search"><i class="public-search fa fa-search"></i>
                    <div class="public-search-result mTop10"></div>
                    <button type="button" (click)="testBtnAction()">Test</button>
                </div>
            </div> 

        </div>
        
        <div class="login-footer-box hidden">Validify all rights reserved</div>

    </div>
    
</div>




