/* You can add global styles to this file, and also import other style files */


#page-wrap { 
  width: 1000px;  min-width:768px; min-height: 700px;  
  margin: 0 auto;  position: relative;  
  background: #f8CCCC;
}


