

<!-- Sidebar START -->
<div id="sidebar-wrapper">

    <ul class="sidebar-nav">  
        
        <li  class="active"><a href="#"><span class="ico home hidden"></span>HOME</a></li>
        
        <li><a href="#"><span class="ico bond hidden"></span>SURETIES</a></li>

        <li><a href="#"><span class="ico agencies hidden"></span>AGENCIES</a></li>

        <li><a href="#"><span class="ico agent hidden"></span>AGENTS</a></li>  

        <li class="#"><a href="#"><span class="ico admin hidden"></span>ADMIN</a></li>
    </ul>  

</div>    
<!-- Sidebar END -->