
<!-- Sidebar START -->
<div id="sidebar-wrapper">

    <!-- Sidebar: Links START -->
    <ul class="sidebar-nav">              
        
        <li class="active">
            <a href="#"><span class="ico home hidden"></span>HOME</a>
        </li>

        <li>
            <a href="#"><span class="ico agencies hidden"></span>AGENCIES</a>
            <ul class="submenu">
                <li><a href="#">bond an agency</a></li>
                <li><a href="#">set inventory</a></li>
                <li><a href="#">suspended status</a></li>
                <li><a href="#">regulate</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span class="ico agent hidden"></span>AGENTS</a>
            <ul class="submenu">
                <li><a href="#">bond an agent</a></li>
                <li><a href="#">suspended status</a></li>
                <li><a href="#">regulate</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><span class="ico bond hidden"></span>BONDS</a>
            <ul class="submenu">
                <li><a href="#">incease requests</a></li>
                <li><a href="#">mark paid</a></li>
            </ul>
        </li>
        
    </ul>
    <!-- Sidebar: Links END -->

    <div class="side-footer">Copyright © Validify, Inc</div>

</div>
<!-- Sidebar END -->