
<!-- Sidebar START -->
<div id="sidebar-wrapper">

    <!-- Header: Role Details START -->   
    <div id="header-wrap" class="left-nav-toggle hidden-xs" *ngIf="!isHide">
        <nav class="navbar-left hidden-xs">  
            <h1 class="header-head">{{userInfoObj.first_name}}</h1> 
            <h5 class="user-name">{{userInfoObj.last_name}}</h5>           
        </nav>
    </div>    
    <!-- Header: Role Details END -->


    <!-- Sidebar: Links START -->
    <ul class="sidebar-nav">  


        <li class="sidemenu-active">
            <a href="#">HOME</a>
        </li>

        <li>
            <a href="#">AGENCIES</a>
            <ul class="submenu">
                <li><a href="#">bond an agency</a></li>
                <li><a href="#">set inventory</a></li>
                <li><a href="#">suspended status</a></li>
                <li><a href="#">regulate</a></li>
            </ul>
        </li>

        <li>
            <a href="#">AGENTS</a>
            <ul class="submenu">
                <li><a href="#">bond an agent</a></li>
                <li><a href="#">suspended status</a></li>
                <li><a href="#">regulate</a></li>
            </ul>
        </li>

        <li>
            <a href="#">BONDS</a>
            <ul class="submenu">
                <li><a href="#">incease requests</a></li>
                <li><a href="#">mark paid</a></li>
            </ul>
        </li>
        
    </ul>
    <!-- Sidebar: Links END -->
   
</div>
<!-- Sidebar END -->