

/* ----------------------------------------------*/
html, body {  
    height: 100%;   background: #f8f8f8;     
    padding: 0;    margin: 0;    overflow: hidden;
}
body {   
    font-family: 'robotoregular';   font-size: 14px;
}
ul,li {
    list-style: none;    padding: 0;    margin: 0;
}
a {
    color: #31253F;   outline: none;
}
a:hover,a:focus,a:active {
    text-decoration: underline;    color: #31253F;    outline: none;
}
/* ----------------------------------------------*/


/* ----------------------------------------------*/
@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/Roboto-Regular-webfont.woff2') format('woff2'), url('/assets/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), url('/assets/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;  font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('/assets/fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('/assets/fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/Roboto-Medium-webfont.woff2') format('woff2'), url('/assets/fonts/roboto/Roboto-Medium-webfont.woff') format('woff'), url('/assets/fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'), url('/assets/fonts/roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;   font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('/assets/fonts/roboto/Roboto-Thin-webfont.eot');
    src: url('/assets/fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/Roboto-Thin-webfont.woff2') format('woff2'), url('/assets/fonts/roboto/Roboto-Thin-webfont.woff') format('woff'), url('/assets/fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'), url('/assets/fonts/roboto/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;   font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('/assets/fonts/roboto/Roboto-Light-webfont.eot');
    src: url('/assets/fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/Roboto-Light-webfont.woff2') format('woff2'), url('/assets/fonts/roboto/Roboto-Light-webfont.woff') format('woff'), url('/assets/fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'), url('/assets/fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;   font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto/roboto-bold-webfont.eot');
    src: url('/assets/fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto/roboto-bold-webfont.woff2') format('woff2'), url('/assets/fonts/roboto/roboto-bold-webfont.woff') format('woff'), url('/assets/fonts/roboto/roboto-bold-webfont.ttf') format('truetype'), url('/assets/fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;    font-style: normal;
}
/* ----------------------------------------------*/



/* ----------------------------------------------*/
.full-width {
    width: 100%;
}
.block {
    display: block;
}
.underline {
    text-decoration: underline;
}
.txt-bold {
    font-family: 'robotobold';
}
.border-R{
    border-right: 1px solid #D3CADF
}
.border-left {
    border-left: 1px solid #D3CADF
}
/* ----------------------------------------------*/



/* ----------------------------------------------*/
.margin0 {
    margin: 0;
}
.paddingLR5 {
    padding-left: 5px;   padding-right: 5px;
}
.paddingTB10 {
    padding-top: 10px;    padding-bottom: 10px;
}

.mTop5 {
    margin-top: 5px;
}
.mTop10 {
    margin-top: 10px;
}
.mTop15 {
    margin-top: 15px;
}
.mTop20 {
    margin-top: 20px;
}
.mTop25 {
    margin-top: 25px;
}
.mTop30 {
    margin-top: 30px;
}
.mTop50 {
    margin-top: 50px;
}

.mBot5 {
    margin-bottom: 5px;
}
.mBot10 {
    margin-bottom: 10px;
}
.mBot15 {
    margin-bottom: 15px;
}
.mBot20 {
    margin-bottom: 20px;
}
.mBot30 {
    margin-bottom: 30px;
}

.mRight5 {
    margin-right: 5px;
}
.mRight10 {
    margin-right: 10px;
}
.mRight15 {
    margin-right: 15px;
}
.mRight20 {
    margin-right: 20px;
}

.mLeft10 {
    margin-left: 10px;
}
.mLeft15 {
    margin-left: 15px;
}
.mLeft20 {
    margin-left: 20px;
}
/* ----------------------------------------------*/


